<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.gmall.manage.mapper.AttrInfoMapper">
    <resultMap id="AttrInfoValue" type="com.wang.gmall.manage.mapper.AttrInfoMapper">
        <id property="id" column="id" ></id>
        <result property="attrName" column="attr_name"></result>
        <result property="catalog3Id" column="catalog3_id"></result>
        <result property="isEnabled" column="is_enabled"></result>
        <collection property="attrValueList" ofType="com.wang.gmall.bean.PmsBaseAttrValue">
            <id property="id"  column="aid"></id>
            <result property="valueName" column="value_name"></result>
            <result property="attrId" column="attr_id"></result>
            <result property="isEnabled" column="is_enabled"></result>
        </collection>
    </resultMap>

</mapper>